@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gap-main {
    gap: 1rem;
  }

  .border-secondary-1 {
    @apply border border-secondary;
  }
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

.main-container > * {
  @apply min-h-dvh w-full;
}

.fade-up-gsap {
  transform: translateY(100dvh);
}
.translate-y-dvh {
  transform: translateY(100dvh);
}
.-translate-y-dvh {
  transform: translateY(-100dvh);
}

.cat {
  transform: rotateY(180deg);
}
