@tailwind base;
@tailwind components;
@tailwind utilities;

$footer-height: 40px;
//region FOOTER CLASS

.bottom-footer {
  bottom: $footer-height;
}

.h-footer {
  height: $footer-height;
}

.pb-footer {
  padding-bottom: $footer-height;
}

//endregion

body {
  @apply bg-main text-mainText;
}

@layer components {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gap-main {
    gap: 1rem;
  }

  .border-secondary-1 {
    @apply border border-secondary;
  }
}

.main-container > * {
  @apply min-h-dvh w-full;
  padding-bottom: $footer-height;
}

//region GSAP
.fade-up-gsap {
  transform: translateY(100dvh);
}
.translate-y-dvh {
  transform: translateY(100dvh);
}
.-translate-y-dvh {
  transform: translateY(-100dvh);
}
//endregion

.cat {
  transform: rotateY(180deg);
}